[Desktop Entry]
Comment[es_ES]=Edna
Name=Edna
Name[es_ES]=Edna
X-KDE-PluginInfo-Author=jomada
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Depends=plasma-desktop
X-KDE-PluginInfo-Email=gicalucejo@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-Name=Edna
X-KDE-PluginInfo-Version=2.7
X-KDE-PluginInfo-Website=
X-Plasma-API=5.0
comment=Edna

[Wallpaper]
defaultFileSuffix=.png
defaultHeight=1080
defaultWallpaperTheme=
defaultWidth=1920

[ContrastEffect]
enabled=false
contrast=0.2
intensity=0.4
saturation=1.7

[AdaptiveTransparency]
enabled=true
